@import "normalize.css";

// Common Colors
:root {
  --primary: #4169e1;
  --primary-lite: #1976d2;
  --secondary: #ecf3fe;
  --background: #888;
  --white: #ffffff;
  --border: #c7cae4;
  --fontColor: #555555;
  --nav-background: #dbe2ff;
  --yellow-border: #ffb100;
  --tecnitaBlue: #3EAAE4;
}

// font-size and font-weight
:root {
  --title: 40px;
  --heading1: 32px;
  --heading2: 24px;
  --large: 18px;
  --medium: 16px;
  --sm: 14px;
  --small: 12px;

  --thin: 100;
  --light: 300;
  --regular: 400;
  --bold: 700;
}