.candidate-details-view {
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	.candidate-list-box {
		width: 50%;
		height: 100%;
		background-color: var(--background);
		overflow-y: scroll;
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.candidate-detail-box {
		width: 50%;
		border-left: 1px solid #ddd;
		background-color: #fff;
		height: calc(100vh - 60px);
		overflow-y: scroll;
	}
}