.main-body {
  background-color: var(--background);
  min-height: calc(100vh - 50px);
  margin-top: 50px;
}

.left-nav {
  width: 230px;
  height: calc(100vh - 50px);
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: var(--white);
  padding: 10px 0;
}

.route-wrapper {
  margin-left: 230px;
  left: 0;
  padding: 10px;
}