.copy-text-field {
  cursor: copy;
}

.candidate-detail-container {
  width: 100%;
  padding: 10px 20px;
}

.cdb-chip {
  padding: 5px;
  margin: 3px 5px;
  border-radius: 10px;
  box-shadow: 1px 0px 5px 2px #ddd;
  display: inline-block;
  font-size: var(--small);
  color: #000;
}

.cdb-sec-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
}

.cbd-sec-title {
  font-size: var(--sm);
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.cd-basic-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.cdb-name-box {
  width: 60%;

  .cdb-name {
    font-size: var(--heading2);
    line-height: 38px;
    font-weight: bold;
  }

  .cdb-job-title {
    font-size: var(--medium);
    line-height: 20px;
  }

  .cdb-exp {
    font-size: var(--sm);
    line-height: 20px;
    font-weight: bold;
  }

  .cdb-t-exp {
    display: inline-block;
    font-weight: 400;
    margin-left: 5px;
  }

  .cdb-visa-status {
    font-size: var(--sm);
    font-weight: bold;
    margin-top: 10px;

    .cdb-visa-sts-chip {
      padding: 3px 15px;
      margin: 3px 5px;
      background-color: var(--primary);
      color: #fff;
      display: inline-block;
      border-radius: 15px;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}

.cdb-contact-box {
  width: 35%;

  .cbd-con-itm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--small);
    line-height: 20px;
    margin: 5px;
  }

  .cdb-con-item-text {
    margin-left: 5px;
  }
}

.cdb-skills-box {
  margin-top: 30px;

  .cdb-emp-sts-chip {
    background-color: var(--yellow-border);
  }

  .cdb-sks-sts-chip {
    background-color: var(--primary-lite);
    color: #fff;
  }
}

.cdb-status-box-sec {
  width: 90%;
  margin: 30px 0;
  display: flex;
  align-items: center;


  .cbd-sec-title-sts {
    font-size: var(--sm);
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
  }

  .cdb-status-box {
    padding: 10px;
    border-radius: 10px;
    background-color: #c7eff9;
    width: 65%;
    display: inline-block;
  }

  .cbd-sts-toggle {
    height: 50px;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  .cdb-status-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .cdb-status-val {
    margin-left: 10px;
  }
}

.sdb-sec-text {
  width: 65%;
  font-size: var(--sm);
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  color: #333;
}

.cdb-download-sec {
  font-size: var(--small);
  display: flex;
  align-items: flex-end;
  margin-left: 70%;

  .cdb-download-btn {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
    border-radius: 15px;
    border: 1px solid #ddd;
    color: var(--primary-lite);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: var(--primary-lite);
    }
  }

  .cdb-download-btn-text {
    margin-right: 5px;
  }
}

.cdb-comment-section {
  .cdb-comment-add {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .comment-field {
    width: 450px;
  }
}